---
// Content 組件 - 顯示關於 SITCON 的主要內容
---

<section class="container content">
  <h2 class="section-title">關於 SITCON</h2>
  <div class="content-section">
    <p class="content-paragraph">
      SITCON 學生計算機年會是由學生自發舉辦、投身學生資訊教育與推廣開源精神的社群，也是一個由學生主辦、學生擔任講者、以學生為主軸的資訊研討會，給學生們一個發表交流技術的舞台。
    </p>
    <p class="content-paragraph">
      除了技術研討之外，還有許多從學生角度出發的經驗分享、專題研究成果或探討學生相關議題等等議程。我們也會舉辦黑客松、工作坊，和各地學校社團舉辦聯合講座等等。
    </p>
    <p class="content-paragraph">
      對我們所做的事情感興趣？歡迎加入 <a href="#" class="link">郵件論壇</a> 或 <a href="#" class="link">Telegram 群組</a> 一起來規劃討論。
    </p>
  </div>
</section>

<style>
  .content {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .section-title {
    color: #FFF;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 150%; /* 72px */
    width: 314px;
    margin-bottom: 1.5rem;
  }

  .content-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .content-paragraph {
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-weight: 500;
    line-height: 150%; /* 48px */
    margin-bottom: 1.5rem;
    text-align: left;
  }

  .link {
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-weight: 500;
    line-height: 150%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }

  .link:hover {
    opacity: 0.8;
  }

  @media (max-width: 768px) {
    .section-title {
      font-size: 36px;
      width: auto;
    }

    .content-paragraph,
    .link {
      font-size: 24px;
    }
  }
</style> 