---
import Layout from "../layouts/index.astro";
import Hero from "../components/home/Hero.astro";
import Schema from "../components/home/Schema.astro";
import Intro from "../components/home/Intro.astro";
import Info from "../components/home/Info.astro";
import Schedule from "../components/home/Schedule.astro";
import Course from "../components/home/Course.astro";
import PastEvent from "../components/home/PastEvent.astro";
import Feedback from "../components/home/Feedback.astro";
import About from "../components/home/About.astro";
---

<Layout title="SITCON" description="Ye">
  <Schema />
  <Hero />
  <Intro />
  <Info />
  <Schedule />
  <Course />
  <PastEvent />
  <Feedback />
  <About
    title="關於 SITCON"
    description="SITCON 學生計算機年會是由學生自發舉辦，投身學生資訊教育與推廣開源精神的社群， 也是一個由學生主辦、學生擔任講者、以學生為主軸的資訊研討會，給學生們一個發表交流技術的舞台。 除了技術研討之外，還有許多從學生角度出發的經驗分享、專題研究成果或探討學生相關議題等等議程。 我們也曾舉辦黑客松、工作坊，和各地學校社團舉辦聯合講座等等。"
    href=""
  />
  <About
    title="Code of Conduct"
    description="SITCON 歡迎不同身分、來自不同背景的與會者，也非常鼓勵女性、性少數與多元背景的參與者。 為了讓大家都能愉快的參加 SITCON，我們要求所有參與者閱讀社群的的 行為準則（Code of Conduct），共同創造一個友善的環境。"
    href=""
  />
  <section id="host"></section>
</Layout>
