<section class="container">
  <div class="about">
    <h3>關於 SITCON</h3>
    <p>
      SITCON
      學生計算機年會是由學生自發舉辦，投身學生資訊教育與推廣開源精神的社群，
      也是一個由學生主辦、學生擔任講者、以學生為主軸的資訊研討會，給學生們一個發表交流技術的舞台。
      除了技術研討之外，還有許多從學生角度出發的經驗分享、專題研究成果或探討學生相關議題等等議程。
      我們也曾舉辦黑客松、工作坊，和各地學校社團舉辦聯合講座等等。
    </p>
    <a href="">了解更多</a>
  </div>
  <div class="about">
    <h3>Code of Conduct</h3>
    <p>
      SITCON
      歡迎不同身分、來自不同背景的與會者，也非常鼓勵女性、性少數與多元背景的參與者。為了讓大家都能愉快的參加
      SITCON，我們要求所有參與者閱讀社群的的行為準則（Code of
      Conduct），共同創造一個友善的環境。
    </p>
    <a href="">了解更多</a>
  </div>
</section>

<style>
  .container {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
  }

  .about {
    position: relative;
    max-width: 85%;
    padding: 40px 60px;
    z-index: 1;
    margin: 0 auto;
    color: #000;
  }

  .about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ebeb39;
    transform: skewX(-10deg); /* 斜背景 */
    z-index: -1;
    box-shadow: var(--shadow);
  }

  h3 {
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 23px;
  }

  p {
    margin-bottom: 1.5rem;
    line-height: 1.6;
  }

  a {
    display: inline-block;
    font-weight: bold;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 0.7rem 1.2rem;
    font-size: 1.2rem;
    float: right;
    transition: all 0.3s ease;
  }

  a:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
</style>
