<section>
  <div class="course-container">
    <h3>主線課程</h3>
    <p>
      由講師帶領，從零開始掌握 Python
      核心技能——基礎語法、多種資料結構、函式開發到套件管理，進而探索
      Rest API 的運作原理，並結合 AI
      協助生成網頁前端，最終打造屬於你的獨特精彩網站！
    </p><p>
      在課程中，透過講師的精心準備的內容，穿插多個動手實作練習，並即時搭配多位助教及講師的協助，確保每位學員都能夠得到充分的關注和指導，讓每一位學員都可以跟上課程進度，並且在課程中不斷進步。
    </p>
    <img src="" alt="" />
  </div>
  <div class="course-container">
    <h3>Hackathon</h3>
    <p>
      黑客松（Hackathon）是「黑客」（Hack；原指早期為電腦系統找尋不完美的地方，或是探索不同的解法，來改善電腦系統）與「馬拉松」（Marathon）的組合字，顧名思義，也就像是程式設計、工程界的馬拉松：由有興趣的一群人在有限的時間內，發揮自己的專長做出一個有特色的專案。
    </p>
    <img src="" alt="" />
  </div>
  <div class="course-container">
    <h3>廣度課程</h3>
    <p>
      為避免單一的教學方式限制了學員對資訊領域的視野，夏令營在設計時，特別安排了廣度課程。讓學員在學習基礎課程之餘，也能學到資訊領域的其他層面，增加自身資訊技能的廣度。其中，我們邀請到了許多在資訊圈打滾多年的權威人士分享自身經驗，期許能為迷茫中的學員，點亮未來的一盞明燈，找到屬於自己的資訊路。
    </p>
    <img src="" alt="" />
  </div>
  <div class="course-container">
    <h3>視界咖啡館</h3>
    <p>
      視界咖啡館參考自世界咖啡館（The World
      Café），在本次夏令營中，我們邀請到各領域及社群知名前輩，將傳統座談會形式改以聊天的樣貌呈現。學員可以與資訊界的名人們近距離互動，期望透過縮短講者與學員之間的距離，講者可以更針對學員給出建議，也鼓勵學員踴躍提問、參與，進而產生良好的雙向交流。
    </p>
    <img src="" alt="" />
  </div>
  <div class="course-container">
    <h3>開源精神與社群</h3>
    <p>
      開源精神短講將邀請在開源社群中活躍多年的前輩，期許能夠透過前輩的經驗分享來讓學員更加認識開源（Open
      Source），並鼓勵學員參與往後的社群活動。同時，我們也會邀請許多和資訊相關的社群前來擺攤，藉由互動遊戲、影片欣賞、專人介紹、闖關集點...等方式，讓學員認識所謂的「社群」，並對開源活動有初步了解。
    </p>
    <img src="" alt="" />
  </div>
  <div class="course-container">
    <h3>闖關活動</h3>
    <p>
      『學程式到底要拿來做什麼？』這可能是很多人都有的疑問。沒錯，不會程式還是可以去麥當勞點餐，可以用電腦玩遊戲，可以在
      IG 發限動。但是，不會程式的話，絕對沒有辦法完成這項考驗。
    </p>
    <p>
      不管你是屬於用心觀察環境，仔細思考線索的頭腦派；抑或是想法源源不絕，追求程式效能的實力派，融合學習至今的程式、邏輯、解謎和團隊合作的能力，在解決一道道謎題的過程中，感受到其中的韻味，以及找尋『學習程式』的意義吧！
    </p>
    <img src="" alt="" />
  </div>
</section>
