<section>
  <div class="feedback">
    <h3>SITCON Camp 2024 學員<span>陳宥彣</span></h3>
    <p>
      這次的營隊很充實，很累但同時我也玩的非常開心，學員之間雖然完全不認識，但相處起來卻非常愉快，隊輔也很認真教學，雖然他們大多數人都很厲害，但也不會對我這種初學者展現出任何不耐煩，讓我雖然人生地不熟，卻還是覺得很有歸屬感。營隊的可充規劃也非常充實，其實如果可以的話，我明年還會想參加雖然課程內容應該大同小異。這次的營隊我學到很多，感謝所有為這次營隊努力的哥哥姊姊們！
    </p>
  </div>
  <div class="feedback">
    <h3>SITCON Camp 2024 學員<span>張惠媗</span></h3>
    <p>
      這是我第一個實質意義上的營隊，畢竟前一週那個感覺比較像去上課，我連人都不認識。
      第一次做黑客松，我很喜歡的環節應該是隊內大家把想法提出來的部分和黑客松發表（程式的部分我沒打到所以不列入計算），能聽到大家不同的想法，會知道很多不曾想過的點，很有趣，都是大家想法的結晶呀
    </p>
  </div>
</section>
