<header>
  <div class="visual">
    <!-- background image 404 -->
    <div class="boom"></div>
    <div class="title"></div>
  </div>
  <div class="info">
    <div>
      <img src="" alt="date" />
      7/9-7/13
    </div>
    <div>
      <img src="" alt="location" />
      陽明交通大學光復校區
    </div>
  </div>
</header>
