---
import { Image } from "astro:assets";
import heroBackground from "../../assets/img/hero-background.svg";
import notFoundBackground from "../../assets/img/404.svg";
import { Icon } from "astro-icon/components";
import { getLocale } from "../../i18n";

const t = getLocale(Astro.url);
---

<header>
  <div class="visual">
    <div class="boom"></div>
    <div class="title"></div>
  </div>
  <div class="info">
    <div>
      <Icon
        name="material-symbols:calendar-today-rounded"
        size={24}
      />
      <div>7/9-7/13</div>
    </div>
    <div>
      <Icon name="material-symbols:location-on-rounded" size={24} />
      <div>{t.components.home.hero.schoolName}</div>
    </div>
  </div>
  <div class="paint">
    <Image src={heroBackground} alt="" />
  </div>
</header>

<style
  define:vars={{
    notFoundBackgroundUrl: `url(${notFoundBackground.src})`,
  }}
>
  header {
    padding-top: 6rem;
    min-height: 100vh;
    position: relative;
  }

  .paint {
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
  }

  .paint img {
    width: 100%;
    filter: blur(20px);
  }

  .visual {
    height: 70vh;
    width: 100%;
    background: var(--notFoundBackgroundUrl) no-repeat center
      center/contain;
    margin-bottom: 1rem;
  }

  .info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .info > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .info img {
    width: 1.5rem;
  }
</style>
