<section>
  <h3>共同主辦</h3>
  <div class="host-container">
    <div>
      <img src="" alt="" />
      <div>SITCON 學生計算機年會</div>
    </div>
    <div>
      <img src="" alt="" />
      <div>開放文化基金會</div>
    </div>
    <div>
      <img src="" alt="" />
      <div>陽明交通大學資訊工程系學會</div>
    </div>
    <div>
      <img src="" alt="" />
      <div>陽明交通大學資訊工程系</div>
    </div>
  </div>
  <h3>共同主辦</h3>
  <div class="host-container">
    <div>
      <img src="" alt="" />
      <div>ITSA 教育部智慧創新關鍵人才躍升計畫</div>
    </div>
  </div>
</section>
