---
import sitconLogo from "../../assets/img/host_logo/Sponsor Image.png";
import ocfLogo from "../../assets/img/host_logo/Sponsor Image-2.png";
import nycuCsClubLogo from "../../assets/img/host_logo/Sponsor Image-3.png";
import nycuCsLogo from "../../assets/img/host_logo/Sponsor Image-4.png";
import itsaLogo from "../../assets/img/host_logo/Sponsor Image-5.png";
---

<section class="container">
  <h3>共同主辦</h3>
  <div class="host-container">
    <div class="host-item">
      <div class="host-logo">
        <img
          src="https://sitcon.org/branding/assets/logos/withname.svg"
          alt="SITCON logo"
        />
      </div>
      <div class="host-name">SITCON 學生計算機年會</div>
    </div>
    <div class="host-item">
      <div class="host-logo">
        <img src={ocfLogo.src} alt="開放文化基金會 logo" />
      </div>
      <div class="host-name">開放文化基金會</div>
    </div>
    <div class="host-item">
      <div class="host-logo nctu-cs-club">
        <img
          src={nycuCsClubLogo.src}
          alt="陽明交通大學資訊工程系學會 logo"
        />
      </div>
      <div class="host-name">陽明交通大學資訊工程系學會</div>
    </div>
    <div class="host-item">
      <div class="host-logo">
        <img src={nycuCsLogo.src} alt="陽明交通大學資訊工程系 logo" />
      </div>
      <div class="host-name">陽明交通大學資訊工程系</div>
    </div>
  </div>
  <h3>協辦單位</h3>
  <div class="host-container">
    <div class="host-item">
      <div class="host-logo">
        <img src={itsaLogo.src} alt="ITSA logo" />
      </div>
      <div class="host-name">ITSA 教育部智慧創新關鍵人才躍升計畫</div>
    </div>
  </div>
</section>

<style>
  section {
    text-align: center;
    padding: 4rem 0;
  }

  h3 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  .host-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 4rem;
  }

  .host-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .host-logo {
    width: 212px;
    height: 127px;
    border-radius: 30px;
    background: #fff;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .host-logo.nctu-cs-club {
    background: #730302;
  }

  .host-logo img {
    width: 188.3px;
    height: 113.149px;
    flex-shrink: 0;
    object-fit: contain;
    display: block;
  }

  .host-name {
    font-size: 1.2rem;
    font-weight: 500;
  }

  @media (max-width: 768px) {
    .host-container {
      gap: 1.5rem;
    }

    .host-logo {
      width: 180px;
      height: 110px;
    }

    .host-logo img {
      width: 160px;
      height: 96px;
    }

    .host-name {
      font-size: 1rem;
    }
  }
</style>
