<section>
  <h2 class="emfont-UnboundedSans">報名資訊</h2>
  <div class="info-container">
    <div class="info">
      <h3>活動日期</h3>
      <div class="content">
        07/09（三）~ 07/13（日）<span>五天四夜（含住宿）</span>
      </div>
      <div class="image"><img src="" alt="" /></div>
    </div>
    <div class="info">
      <h3>報名日期</h3>
      <div class="content">
        即日起 ~ 2025/5/24（六）<span>23:59 止</span>
      </div>
      <div class="image"><img src="" alt="" /></div>
    </div>
    <div class="info">
      <h3>活動地點</h3>
      <div class="content">國立陽明交通大學 光復校區</div>
      <div class="image"><img src="" alt="" /></div>
    </div>
  </div>
  <div class="info-container2">
    <div class="price-container">
      <div class="people">早鳥優惠</div>
      <img src="" alt="" class="icon" />
      <div class="price">8100元/人</div>
    </div>
    <div class="price-container">
      <div class="people">個人報名</div>
      <img src="" alt="" class="icon" />
      <div class="price">9000元/人</div>
    </div>
    <div class="price-container">
      <div class="people">兩人團報</div>
      <img src="" alt="" class="icon" />
      <div class="price">8500元/人</div>
    </div>
    <div class="price-container">
      <div class="people">三人團報</div>
      <img src="" alt="" class="icon" />
      <div class="price">8250元/人</div>
    </div>
    <div class="price-container">
      <div class="people">四人團報</div>
      <img src="" alt="" class="icon" />
      <div class="price">8000元/人</div>
    </div>
    <div class="signUp">
      <img src="" alt="" />
      <a href="">開始報名</a>
    </div>
  </div>
  <div class="calendar">
    <div>將 SITCON Camp 重要日程加入行事曆</div>
    <a href=""><img src="" alt="" />加入行事曆</a>
  </div>
  <div class="reminder">
    <h3>注意事項</h3>
    <ol>
      <li>第 5 人（含）起將以原價計費。</li>
      <li>提前一晚入住營隊 700 NTD/人</li>
      <li>
        若在 5/11（日）23:59
        前報名即享有早鳥價，享有早鳥價者仍可享有團報優惠。
      </li>
      <li>
        團體報名不保證全數錄取，團體報名凡錄取者（無論是否全數錄取）皆享有團報優惠價格，詳見<a
          href="https://drive.google.com/file/d/1nxt-lYWAMnsK-QbwbbeIV7lTi9hcimTw/view"
          >《報名簡章》</a
        >。
      </li>
      <li>
        本次夏令營預計招收學員 54
        名，我們會針對報名資料做簡易審查，非先報先錄取。
      </li>
      <li>
        正取學員名單最晚將於 6/8（日）前公佈，屆時請關注 SITCON
        相關社群媒體及 Email 信箱。
      </li>
      <li>
        正取學員需完成報名費繳交，始完成報名程序；另設有補助名額，請詳閱<a href="https://drive.google.com/file/d/1g6OSBT0yZIpOjKk5tkzgFOv-mcpBrPLd/view">《報名費用補助辦法》</a>。
      </li>
      <li>關於退費事宜，請見<a href="https://drive.google.com/file/d/1A193ekw7DtCgfMmxsICeT4gO2pWYGd4q/view">《退費說明文件》</a>。</li>
    </ol>
  </div>
</section>
