<section>
  <h2 class="emfont-UnboundedSans">報名資訊</h2>
  <div class="info-container">
    <div class="info">
      <h3></h3>
      <div class="content"></div>
      <div class="image"><img src="" alt="" /></div>
    </div>
    <div class="info">
      <h3></h3>
      <div class="content"></div>
      <div class="image"><img src="" alt="" /></div>
    </div>
    <div class="info">
      <h3></h3>
      <div class="content"></div>
      <div class="image"><img src="" alt="" /></div>
    </div>
  </div>
  <div class="info-container2">
    <div class="price-container">
      <div class="people">個人報名</div>
      <img src="" alt="" class="icon" />
      <div class="price">9000元/人</div>
    </div>
    <div class="price-container">
      <div class="people">兩人團報</div>
      <img src="" alt="" class="icon" />
      <div class="price">8500元/人</div>
    </div>
    <div class="price-container">
      <div class="people">三人團報</div>
      <img src="" alt="" class="icon" />
      <div class="price">8250元/人</div>
    </div>
    <div class="price-container">
      <div class="people">四人團報</div>
      <img src="" alt="" class="icon" />
      <div class="price">8000元/人</div>
    </div>
    <div class="signUp">
      <img src="" alt="" />
      <a href="">開始報名</a>
    </div>
  </div>
  <div class="calendar">
    <div>將 SITCON Camp 重要日程加入行事曆</div>
    <a href=""><img src="" alt="" />加入行事曆</a>
  </div>
  <div class="reminder">
    <h3>注意事項</h3>
    <ol>
      <li>
        三人同時報名，視為團體報名，享有團體報名價格，但並不保證同時錄取，請詳閱活動報名簡章。
      </li>
      <li>
        本次夏令營預計招收學員 60
        名，我們會針對報名資料做簡易審查，非先報先贏。
      </li>
      <li>
        正取學員名單將於 06/11 公佈，屆時請關注 SITCON 相關社群媒體。
      </li>
      <li>
        正取學員需完成報名費繳交，始完成報名程序；另設有補助名額，請詳閱 補助辦法。
      </li>
      <li>關於退費事宜，請見 退費說明文件。</li>
    </ol>
  </div>
</section>
