---
import { getLocale } from "../../i18n";
const t = getLocale(Astro.url);
const images = await Astro.glob(
  "../../assets/img/about/events/*",
).then((files) => {
  return files.map((file) => file.default);
});
const marquee = await Astro.glob("../../assets/img/marquee/*").then(
  (files) => {
    return files.map((file) => file.default);
  },
);
const allImages = [...images, ...marquee];
---

<section class="past-event-section">
  <div class="container header-container">
    <h2 class="emfont-UnboundedSans" id="pastEvent">
      {t.components.home.pastEvent.title}
    </h2>
    <div class="button-group">
      <a
        href="https://www.youtube.com/watch?v=b7r7DiEWsvA"
        class="btn"
        target="_blank"
      >
        {t.components.home.pastEvent.video}
      </a>
      <a
        href="https://www.flickr.com/photos/sitcon/albums/72177720319187414/"
        class="btn"
        target="_blank"
      >
        {t.components.home.pastEvent.picture}
      </a>
    </div>
  </div>
  <div class="marquee">
    <div class="marquee-image">
      {
        allImages.map((image) => (
          <img src={image.src} loading="lazy" />
        ))
      }
    </div>
  </div>
  <div class="marquee marquee2">
    <img src="" alt="" />
  </div>
</section>

<style>
  :root {
    --dash-length: 40px;
    --dash-gap: 40px;
  }

  section {
    overflow: hidden;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    gap: 1rem;
  }

  .button-group {
    display: flex;
    gap: 1rem;
  }

  .btn {
    padding: 0.7rem 1.2rem;
    background-color: #2b5bff;
    border-radius: 4px;
    text-decoration: none;
    color: inherit;
    transition: 0.3s ease-out;
    display: block;
    width: fit-content;
  }

  @media (max-width: 32rem) {
    .button-group {
     flex-direction: column;
    }
  }
  .btn:hover {
    background-color: #3d6aff;
  }

  img {
    height: 150px;
    border-radius: 0.5rem;
  }

  .marquee-image {
    display: flex;
    gap: 2rem;
    animation: marquee 50s linear infinite;
    background-color: var(--black);
    padding: 2.5rem 0 2.5rem 2rem;
    --offset: 0.9rem;
    --dash-height: 0.6rem;
    --black: #0a1922;
    background:
      linear-gradient(
        to bottom,
        var(--black) var(--offset),
        transparent var(--offset),
        transparent calc(var(--offset) + var(--dash-height)),
        var(--black) calc(var(--offset) + var(--dash-height)),
        var(--black) calc(100% - var(--offset) - var(--dash-height)),
        transparent calc(100% - var(--offset) - var(--dash-height)),
        transparent calc(100% - var(--offset)),
        var(--black) calc(100% - var(--offset))
      ),
      linear-gradient(to right, #fff 1.9rem, var(--black) 1.9rem);
    background-size: 4.5rem 100%;
  }

  .marquee:hover .marquee-image {
    animation-play-state: paused;
  }

  .marquee {
    display: flex;
    width: max-content;
    margin-bottom: 2rem;
  }
  .marquee2 .marquee-image {
    animation-direction: reverse;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
</style>

<script is:inline>
  const marquee = document.querySelector(".marquee");
  const marquee2 = document.querySelector(".marquee2");
  const marqueeImage = document.querySelector(".marquee-image");
  const marqueeContent = marquee.innerHTML;
  const marqueeSet = () => {
    const content = marqueeContent.repeat(
      Math.ceil(
        Math.max(window.innerWidth / marqueeImage.offsetWidth, 2),
      ),
    );
    marquee.innerHTML = content;
    marquee2.innerHTML = content;
  };
  window.onload = () => {
    marqueeSet();
  };
  window.addEventListener("resize", () => {
    marqueeSet();
  });
</script>
