<section class="container">
  <h2 class="emfont-UnboundedSans">課程活動</h2>
  <div class="schedule-preview">
    <div class="course">認識 AI Tools</div>
    <div class="course">Python 基礎語法</div>
    <div class="course">Python 資料結構</div>
    <div class="course">Package</div>
    <div class="course">Function</div>
    <div class="course">網路概論</div>
    <div class="course">FastAPI</div>
    <div class="course">HTML</div>
    <div class="course">AI 進階使用</div>
    <div class="course">前後端整合</div>
    <div class="course">版本管理 & 部署</div>
  </div>
  <div class="await">完整課表敬請期待</div>
</section>
