---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

interface Props {
  title: string;
  description: string;
  imageOverride?: string;
}

// TODO: Put og image to /public/opengraph/main.jpg
// TODO: Put favicon to /public/favicon.ico
---

<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta name="theme-color" content="#009DF3" />
    <title>{Astro.props.title}</title>
    <meta name="description" content={Astro.props.description} />
    <style
      is:global
      define:vars={{
        foregroundColor: "#FFF",
        backgroundColor: "#009DF3",
        maxWidth: "1200px",
        shadow: "0px 4px 39.3px 10px rgba(24, 70, 237, 0.52)",
      }}
    >
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        background-color: var(--backgroundColor);
        color: var(--foregroundColor);
        font-size: 1.25rem;
      }

      a {
        color: inherit;
      }

      h2 {
        font-size: 4rem;
        font-weight: 700;
        font-weight: 400;
      }

      p {
        line-height: 130%;
      }

      img {
        max-width: 100%;
      }

      .container {
        max-width: var(--maxWidth);
        padding: 4rem 2rem;
        margin: auto;
      }
    </style>
  </head>
  <body class="emfont-LXGWMarkerGothic">
    <Nav />
    <slot />
    <Footer />
    <script src="../scripts/main.js"></script>
  </body>
</html>
