---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

interface Props {
  title: string;
  description: string;
  imageOverride?: string;
}

// TODO: Put og image to /public/opengraph/main.jpg
// TODO: Put favicon to /public/favicon.ico
---

<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta name="theme-color" content="#009DF3" />
    <title>{Astro.props.title}</title>
    <meta name="description" content={Astro.props.description} />
    <style
      is:global
      define:vars={{
        foregroundColor: "#FFF",
        backgroundColor: "#009DF3",
        maxWidth: "1200px",
      }}
    >
      body {
        background-color: var(--backgroundColor);
        color: var(--foregroundColor);
      }
    </style>
  </head>
  <body class="emfont-MaokenAssortedSansTC">
    <Nav />
    <slot />
    <Footer />
    <script src="../scripts/main.js"></script>
  </body>
</html>
